@import "variables";

.person {
  align-items: center;
  height: 100vh;
  padding-top: $header-hight;
  display: flex;
  justify-content: space-evenly;
  background-image: url(../img/bg-person.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 400;
  font-size: 36px;
  &__title {
    color: $COLOR-TEXT-WHITE;
  }
  &__subtitle {
    color: $COLOR-TEXT-WHITE;
  }

  &__text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 6px;
    width: 500px;
    height: 600px;
  }
  &__img {
    height: 600px;
    width: 500px;
  }
}
