@import "variables";

.works {
  &__title {
    text-transform: uppercase;
    text-align: center;
  }
  &__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__item {
    width: 50%;
    height: 400px;
  }
}
